:root {
  --color-theme1: #ff6a00;
  --color-theme2: #ffffff;
  --color-theme3: #333333;
  --color-theme4: #757575;

  --color-text1: #191919;
  --color-text2: #b0b0b0;
  --color-text3: #424242;
  --color-text4: #e5e5e5;
  --color-text5: #616161;
}
